.navbar{
 background:#F97300;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}

.container {
	background: blue;

}

.row {
	background: #e3de4d;
	height: 300px;
}

.row div{
	text-align: center;
	height: 50px;
}

.col-3 {
	background: green;

}

.col-5 {
	background: red;

}

.col-2 {
	background: gray;

}

.col-1 {
	background: yellow;

}

.col {
	background: azure;